In [16]:
import pandas as pd
import numpy as np
import csv
import os

In [6]:
df= pd.read_csv("dataset.csv")

In [20]:
df

,Year,Month,Day,SurfacePressure,MaxTemperature,MinTemperature,DewPoint,WetBulbTemp,RelHumidity,WindSpeed10,Precipitation,HEATWAVE
0,1990,1,1,98.91,22.18,4.40,-2.97,4.54,38.50,3.43,0.00,0
1,1990,1,2,98.99,21.76,5.84,-3.17,4.56,36.75,2.73,0.00,0
2,1990,1,3,99.12,23.00,5.98,-5.08,4.33,30.00,1.64,0.00,0
3,1990,1,4,99.24,24.48,8.53,-4.67,4.93,28.06,2.41,0.00,0
4,1990,1,5,99.31,24.09,6.80,-0.77,6.74,37.75,3.85,0.00,0
...,...,...,...,...,...,...,...,...,...,...,...,...
12605,2024,7,6,96.81,35.13,27.38,26.50,28.75,78.19,2.09,7.03,0
12606,2024,7,7,97.09,37.54,27.76,25.37,28.62,70.94,2.09,2.64,0
12607,2024,7,8,97.46,32.69,27.74,26.09,28.01,80.31,2.89,7.59,0
12608,2024,7,9,97.56,33.94,27.01,26.11,28.30,78.06,2.75,7.11,0
12609,2024,7,10,97.51,36.58,28.14,25.62,28.75,71.06,2.39,3.71,0

In [7]:
len(df)

12610

In [15]:
for i in range(1261):
    filename= f"file_{i}.csv"
    filepath= f"subsets/{filename}"
    file= open(filepath, 'w')
    
    file.close()

In [21]:
block_size = 10

for i in range(0, len(df), block_size):
    filename = f"file_{i // block_size}.csv"
    filepath = f"subsets/{filename}"
    
    df_block = df.iloc[i:i + block_size]
    
    df_block.to_csv(filepath, index=False)

print("Data has been written to files successfully.")

Data has been written to files successfully.